In [95]:
import pandas as pd
import requests
import pymongo
import requests

In [96]:
# Read the GDP per capita data from wikipedia
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28PPP%29_per_capita')

In [97]:
# get exact data from table
gdp_per_capita = tables[2]

In [98]:
# clean data and rename the columns 
gdp_per_capita_df = gdp_per_capita.loc[gdp_per_capita.loc[:,'Rank']!= '—']
gdp_per_capita_df.columns = ['rank', 'country', 'gdp_per_capita']
gdp_per_capita_df = gdp_per_capita_df.iloc[:,1:3]
gdp_per_capita_clean_df = gdp_per_capita_df.reset_index(drop=True)
gdp_per_capita_clean_df.head()

      country  gdp_per_capita
0       Qatar        138910.0
1  Luxembourg        112045.0
2   Singapore        105689.0
3     Ireland         86988.0
4      Brunei         85011.0

In [99]:
# Read the population from wikipedia
tables = pd.read_html('https://worldpopulationreview.com/countries')
tables[0]

,Rank,Country,2020 Population,2019 Population,Growth Rate,Area (km²),2018 Density
0,1,China,1439323776,1433783686,0.39%,9706961,148/km²
1,2,India,1380004385,1366417754,0.99%,3287590,416/km²
2,3,United States,331002651,329064917,0.59%,9372610,35/km²
3,4,Indonesia,273523615,270625568,1.07%,1904569,142/km²
4,5,Pakistan,220892340,216565318,2.00%,881912,246/km²
...,...,...,...,...,...,...,...
227,228,Montserrat,4992,4989,0.06%,102,49/km²
228,229,Falkland Islands,3480,3377,3.05%,12173,0/km²
229,230,Niue,1626,1615,0.68%,260,6/km²
230,231,Tokelau,1357,1340,1.27%,12,112/km²
231,232,Vatican City,801,799,0.25%,1,799/km²

In [100]:
# get exact data from table
country_population_df = tables[0]
# clean data and rename the columns 
country_population_df.columns = ['rank', 'country', 'population', 'population2', 'growthrate', 'countrysize', 'pop_den']
country_population_clean_df = country_population_df.loc[:,['country', 'population', 'growthrate', 'countrysize', 'pop_den']]
country_population_clean_df.loc[:,'pop_den']= country_population_clean_df.loc[:,'pop_den'].str[:-4]
country_population_clean_df.loc[:,'growthrate'] = country_population_clean_df.loc[:,'growthrate'].str[:-1]
country_population_clean_df.loc[:,'growthrate']=country_population_clean_df.loc[:,'growthrate'].astype(float)/100
country_population_clean_df['pop_den'] = country_population_clean_df['pop_den'].str.replace(',','')
country_population_clean_df.loc[:,'pop_den']=country_population_clean_df.loc[:,'pop_den'].astype(int)
gdp_per_capita_clean_df.iloc[28, 0] = 'South Korea'
country_population_clean_df

              country  population  growthrate  countrysize  pop_den
0               China  1439323776      0.0039      9706961      148
1               India  1380004385      0.0099      3287590      416
2       United States   331002651      0.0059      9372610       35
3           Indonesia   273523615      0.0107      1904569      142
4            Pakistan   220892340      0.0200       881912      246
..                ...         ...         ...          ...      ...
227        Montserrat        4992      0.0006          102       49
228  Falkland Islands        3480      0.0305        12173        0
229              Niue        1626      0.0068          260        6
230           Tokelau        1357      0.0127           12      112
231      Vatican City         801      0.0025            1      799

[232 rows x 5 columns]

In [101]:
# Read the Happiness data from wikipedia
tables = pd.read_html('https://en.wikipedia.org/wiki/World_Happiness_Report#2019_World_Happiness_Report')

In [102]:
# get exact data from table
country_happiest_df = tables[4]
# clean data and rename the columns 
country_happiest_df = country_happiest_df.loc[:, ['Country or region','Score']]
country_happiest_df.columns = ['country', 'happiestScore']
country_happiest_df.loc[country_happiest_df.loc[:, "country"] == 'United States of America']
country_happiest_df.iloc[18,0] = 'United States'

In [103]:
# merging three dataframes 
populcation_data = pd.merge(country_happiest_df, country_population_clean_df, 
             how="left", 
             on = ["country","country"])
populcation_data = pd.merge(populcation_data, gdp_per_capita_clean_df , 
             how="left", 
             on = ["country","country"])
populcation_data.head()

,country,happiestScore,population,growthrate,countrysize,pop_den,gdp_per_capita
0,Finland,7.769,5540720.0,0.0015,338424.0,16.0,49548.0
1,Denmark,7.600,5792202.0,0.0035,43094.0,134.0,55675.0
2,Norway,7.554,5421241.0,0.0079,323802.0,17.0,79638.0
3,Iceland,7.494,341243.0,0.0065,103000.0,3.0,56974.0
4,Netherlands,7.488,17134872.0,0.0022,41850.0,409.0,60299.0

In [104]:
# drop empty field 
populcation_data = populcation_data.dropna()

In [152]:
populcation_data

,country,happiestScore,population,growthrate,countrysize,pop_den,gdp_per_capita
0,Finland,7.769,5540720.0,0.0015,338424.0,16.0,49548.0
1,Denmark,7.600,5792202.0,0.0035,43094.0,134.0,55675.0
2,Norway,7.554,5421241.0,0.0079,323802.0,17.0,79638.0
3,Iceland,7.494,341243.0,0.0065,103000.0,3.0,56974.0
4,Netherlands,7.488,17134872.0,0.0022,41850.0,409.0,60299.0
...,...,...,...,...,...,...,...
151,Rwanda,3.334,12952218.0,0.0258,26338.0,479.0,2642.0
152,Tanzania,3.231,59734218.0,0.0298,945087.0,61.0,3652.0
153,Afghanistan,3.203,38928346.0,0.0233,652230.0,58.0,2182.0
154,Central African Republic,3.083,4829767.0,0.0178,622984.0,8.0,864.0
155,South Sudan,2.853,11193725.0,0.0119,619745.0,18.0,1715.0

In [106]:
import sqlite3, matplotlib
from sqlalchemy import create_engine

In [107]:
engine = create_engine('sqlite:///db/worldinfo.sqlite', echo=False)
sqlite_connection = engine.connect()
sqlite_table = "worldinfo"
populcation_data.to_sql(sqlite_table, sqlite_connection, if_exists='replace')

In [108]:
engine.execute("SELECT * FROM worldinfo").fetchall()

[(0, 'Finland', 7.769, 5540720.0, 0.0015, 338424.0, 16.0, 49548.0),
 (1, 'Denmark', 7.6, 5792202.0, 0.0034999999999999996, 43094.0, 134.0, 55675.0),
 (2, 'Norway', 7.553999999999999, 5421241.0, 0.0079, 323802.0, 17.0, 79638.0),
 (3, 'Iceland', 7.494, 341243.0, 0.006500000000000001, 103000.0, 3.0, 56974.0),
 (4, 'Netherlands', 7.4879999999999995, 17134872.0, 0.0022, 41850.0, 409.0, 60299.0),
 (5, 'Switzerland', 7.48, 8654622.0, 0.0074, 41284.0, 208.0, 67558.0),
 (6, 'Sweden', 7.343, 10099265.0, 0.0063, 450295.0, 22.0, 55989.0),
 (7, 'New Zealand', 7.307, 4822233.0, 0.008199999999999999, 270467.0, 18.0, 42045.0),
 (8, 'Canada', 7.278, 37742154.0, 0.0089, 9984670.0, 4.0, 52144.0),
 (9, 'Austria', 7.246, 9006398.0, 0.005699999999999999, 83871.0, 107.0, 55171.0),
 (10, 'Australia', 7.228, 25499884.0, 0.0118, 7692024.0, 3.0, 54799.0),
 (11, 'Costa Rica', 7.167000000000001, 5094118.0, 0.0092, 51100.0, 99.0, 18651.0),
 (12, 'Israel', 7.138999999999999, 8655535.0, 0.016, 20770.0, 410.0, 40337.0),
 (13, 'Luxembourg', 7.09, 625978.0, 0.0166, 2586.0, 238.0, 112045.0),
 (14, 'United Kingdom', 7.053999999999999, 67886011.0, 0.0053, 242900.0, 278.0, 48169.0),
 (15, 'Ireland', 7.021, 4937786.0, 0.0113, 70273.0, 69.0, 86988.0),
 (16, 'Germany', 6.985, 83783942.0, 0.0032, 357114.0, 234.0, 55306.0),
 (17, 'Belgium', 6.922999999999999, 11589623.0, 0.0044, 30528.0, 378.0, 50904.0),
 (18, 'United States', 6.892, 331002651.0, 0.0059, 9372610.0, 35.0, 67426.0),
 (19, 'Czech Republic', 6.852, 10708981.0, 0.0018, 78865.0, 136.0, 40585.0),
 (20, 'United Arab Emirates', 6.825, 9890402.0, 0.0123, 83600.0, 117.0, 70441.0),
 (21, 'Malta', 6.726, 441543.0, 0.0027, 316.0, 1394.0, 49589.0),
 (22, 'Mexico', 6.595, 128932753.0, 0.0106, 1964375.0, 65.0, 21363.0),
 (23, 'France', 6.5920000000000005, 65273511.0, 0.0022, 551695.0, 118.0, 48640.0),
 (25, 'Chile', 6.444, 19116201.0, 0.0087, 756102.0, 25.0, 27150.0),
 (26, 'Guatemala', 6.436, 17915568.0, 0.019, 108889.0, 161.0, 9009.0),
 (27, 'Saudi Arabia', 6.375, 34813871.0, 0.0159, 2149690.0, 16.0, 56912.0),
 (28, 'Qatar', 6.374, 2881053.0, 0.0173, 11586.0, 244.0, 138910.0),
 (29, 'Spain', 6.354, 46754778.0, 0.0004, 505992.0, 92.0, 43007.0),
 (30, 'Panama', 6.321000000000001, 4314767.0, 0.0161, 75417.0, 56.0, 28456.0),
 (31, 'Brazil', 6.3, 212559417.0, 0.0072, 8515767.0, 25.0, 17106.0),
 (32, 'Uruguay', 6.292999999999999, 3473730.0, 0.0034999999999999996, 181034.0, 19.0, 24516.0),
 (33, 'Singapore', 6.2620000000000005, 5850342.0, 0.0079, 710.0, 8175.0, 105689.0),
 (34, 'El Salvador', 6.252999999999999, 6486205.0, 0.0051, 21041.0, 307.0, 8593.0),
 (35, 'Italy', 6.223, 60461826.0, -0.0015, 301336.0, 201.0, 41582.0),
 (36, 'Bahrain', 6.199, 1701575.0, 0.0368, 765.0, 2145.0, 51991.0),
 (37, 'Slovakia', 6.1979999999999995, 5459642.0, 0.0005, 49037.0, 111.0, 38321.0),
 (39, 'Poland', 6.182, 37846611.0, -0.0011, 312679.0, 121.0, 35651.0),
 (40, 'Uzbekistan', 6.1739999999999995, 33469203.0, 0.0148, 447400.0, 74.0, 9595.0),
 (41, 'Lithuania', 6.149, 2722289.0, -0.013500000000000002, 65300.0, 42.0, 38751.0),
 (42, 'Colombia', 6.125, 50882891.0, 0.0108, 1141748.0, 44.0, 16265.0),
 (43, 'Slovenia', 6.117999999999999, 2078938.0, 0.0001, 20273.0, 103.0, 40344.0),
 (44, 'Nicaragua', 6.105, 6624554.0, 0.0121, 130373.0, 50.0, 5297.0),
 (46, 'Argentina', 6.086, 45195774.0, 0.009300000000000001, 2780400.0, 16.0, 19971.0),
 (47, 'Romania', 6.07, 19237691.0, -0.0066, 238391.0, 81.0, 29555.0),
 (48, 'Cyprus', 6.046, 1207359.0, 0.0073, 9251.0, 130.0, 42956.0),
 (49, 'Ecuador', 6.028, 17643054.0, 0.0155, 276841.0, 63.0, 11866.0),
 (50, 'Kuwait', 6.011, 4270571.0, 0.0151, 17818.0, 236.0, 67891.0),
 (51, 'Thailand', 6.007999999999999, 69799978.0, 0.0025, 513120.0, 136.0, 21361.0),
 (52, 'Latvia', 5.94, 1886198.0, -0.0108, 64559.0, 30.0, 32987.0),
 (53, 'South Korea', 5.895, 51269185.0, 0.0009, 100210.0, 511.0, 46452.0),
 (54, 'Estonia', 5.893, 1326535.0, 0.0007000000000000001, 45227.0, 29.0, 37606.0),
 (55, 'Jamaica', 5.89, 2961167.0, 0.0044, 10991.0, 268.0, 9932.0),
 (56, 'Mauritius', 5.888, 1271768.0, 0.0017000000000000001, 2040.0, 622.0, 26461.0),
 (57, 'Japan', 5.886, 126476461.0, -0.003, 377930.0, 336.0, 46827.0),
 (58, 'Honduras', 5.86, 9904607.0, 0.0163, 112492.0, 87.0, 5600.0),
 (59, 'Kazakhstan', 5.809, 18776707.0, 0.0121, 2724900.0, 7.0, 30178.0),
 (60, 'Bolivia', 5.779, 11673021.0, 0.0139, 1098581.0, 10.0, 8525.0),
 (61, 'Hungary', 5.757999999999999, 9660351.0, -0.0025, 93028.0, 104.0, 35941.0),
 (62, 'Paraguay', 5.742999999999999, 7132538.0, 0.0125, 406752.0, 17.0, 13213.0),
 (64, 'Peru', 5.697, 32971854.0, 0.014199999999999999, 1285216.0, 25.0, 15399.0),
 (65, 'Portugal', 5.693, 10196709.0, -0.0029, 92090.0, 111.0, 34936.0),
 (66, 'Pakistan', 5.653, 220892340.0, 0.02, 881912.0, 246.0, 6016.0),
 (67, 'Russia', 5.648, 145934462.0, 0.0004, 17098242.0, 9.0, 30820.0),
 (68, 'Philippines', 5.631, 109581078.0, 0.013500000000000002, 342353.0, 316.0, 10094.0),
 (69, 'Serbia', 5.603, 8737371.0, -0.004, 88361.0, 99.0, 19767.0),
 (70, 'Moldova', 5.529, 4033963.0, -0.0023, 33846.0, 119.0, 8161.0),
 (71, 'Libya', 5.525, 6871292.0, 0.0138, 1759540.0, 4.0, 9446.0),
 (72, 'Montenegro', 5.523, 628066.0, 0.0001, 13812.0, 45.0, 21977.0),
 (73, 'Tajikistan', 5.4670000000000005, 9537645.0, 0.0232, 143100.0, 65.0, 3751.0),
 (74, 'Croatia', 5.432, 4105267.0, -0.0060999999999999995, 56594.0, 73.0, 29207.0),
 (76, 'Dominican Republic', 5.425, 10847910.0, 0.0101, 48671.0, 221.0, 20625.0),
 (78, 'Turkey', 5.372999999999999, 84339067.0, 0.0109, 783562.0, 106.0, 29327.0),
 (79, 'Malaysia', 5.3389999999999995, 32365999.0, 0.013000000000000001, 330803.0, 97.0, 34567.0),
 (80, 'Belarus', 5.3229999999999995, 9449323.0, -0.0003, 207600.0, 46.0, 21224.0),
 (81, 'Greece', 5.287000000000001, 10423054.0, -0.0048, 131990.0, 79.0, 31616.0),
 (82, 'Mongolia', 5.285, 3278290.0, 0.0165, 1564110.0, 2.0, 15089.0),
 (84, 'Nigeria', 5.265, 206139589.0, 0.0258, 923768.0, 218.0, 6172.0),
 (85, 'Kyrgyzstan', 5.261, 6524195.0, 0.0169, 199951.0, 32.0, 4193.0),
 (86, 'Turkmenistan', 5.247000000000001, 6031200.0, 0.015, 488100.0, 12.0, 21855.0),
 (87, 'Algeria', 5.211, 43851044.0, 0.018500000000000003, 2381741.0, 18.0, 16091.0),
 (88, 'Morocco', 5.207999999999999, 36910560.0, 0.012, 446550.0, 82.0, 9667.0),
 (89, 'Azerbaijan', 5.207999999999999, 10139177.0, 0.0091, 86600.0, 116.0, 19156.0),
 (90, 'Lebanon', 5.197, 6825445.0, -0.0044, 10452.0, 656.0, 15599.0),
 (91, 'Indonesia', 5.192, 273523615.0, 0.010700000000000001, 1904569.0, 142.0, 14841.0),
 (92, 'China', 5.191, 1439323776.0, 0.0039000000000000003, 9706961.0, 148.0, 20984.0),
 (93, 'Vietnam', 5.175, 97338579.0, 0.0091, 331212.0, 291.0, 8677.0),
 (94, 'Bhutan', 5.082, 771608.0, 0.011200000000000002, 38394.0, 20.0, 10627.0),
 (95, 'Cameroon', 5.044, 26545863.0, 0.0259, 475442.0, 54.0, 4099.0),
 (96, 'Bulgaria', 5.011, 6948445.0, -0.0074, 110879.0, 63.0, 26034.0),
 (97, 'Ghana', 4.996, 31072940.0, 0.0215, 238533.0, 128.0, 7343.0),
 (99, 'Nepal', 4.913, 29136808.0, 0.018500000000000003, 147181.0, 194.0, 3550.0),
 (100, 'Jordan', 4.906000000000001, 10203134.0, 0.01, 89342.0, 113.0, 9939.0),
 (101, 'Benin', 4.883, 12123200.0, 0.0273, 112622.0, 105.0, 3648.0),
 (103, 'Gabon', 4.7989999999999995, 2225734.0, 0.0245, 267668.0, 8.0, 19839.0),
 (104, 'Laos', 4.796, 7275560.0, 0.0148, 236800.0, 30.0, 8684.0),
 (105, 'South Africa', 4.7219999999999995, 59308690.0, 0.0128, 1221037.0, 48.0, 13965.0),
 (106, 'Albania', 4.718999999999999, 2877797.0, -0.0011, 28748.0, 100.0, 14866.0),
 (108, 'Cambodia', 4.7, 16718965.0, 0.0141, 181035.0, 91.0, 5004.0),
 (110, 'Senegal', 4.681, 16743927.0, 0.0275, 196722.0, 83.0, 4079.0),
 (112, 'Namibia', 4.638999999999999, 2540905.0, 0.018600000000000002, 825615.0, 3.0, 11451.0),
 (113, 'Niger', 4.628, 24206644.0, 0.0384, 1267000.0, 18.0, 1152.0),
 (114, 'Burkina Faso', 4.587, 20903273.0, 0.0286, 272967.0, 74.0, 2181.0),
 (115, 'Armenia', 4.559, 2963243.0, 0.0019, 29743.0, 99.0, 11845.0),
 (116, 'Iran', 4.548, 83992949.0, 0.013000000000000001, 1648195.0, 50.0, 17832.0),
 (117, 'Guinea', 4.534, 13132795.0, 0.028300000000000002, 245857.0, 52.0, 2574.0),
 (118, 'Georgia', 4.519, 3989167.0, -0.0019, 69700.0, 57.0, 13200.0),
 (120, 'Kenya', 4.5089999999999995, 53771296.0, 0.022799999999999997, 580367.0, 91.0, 4078.0),
 (121, 'Mauritania', 4.49, 4649658.0, 0.0274, 1030700.0, 4.0, 5158.0),
 (122, 'Mozambique', 4.466, 31255435.0, 0.029300000000000003, 801590.0, 38.0, 1372.0),
 (123, 'Tunisia', 4.461, 11818619.0, 0.0106, 163610.0, 71.0, 13093.0),
 (124, 'Bangladesh', 4.456, 164689383.0, 0.0101, 147570.0, 1105.0, 5453.0),
 (125, 'Iraq', 4.437, 40222493.0, 0.0232, 438317.0, 90.0, 18755.0),
 (127, 'Mali', 4.39, 20250833.0, 0.0302, 1240192.0, 16.0, 2569.0),
 (128, 'Sierra Leone', 4.374, 7976983.0, 0.021, 71740.0, 109.0, 1765.0),
 (129, 'Sri Lanka', 4.3660000000000005, 21413249.0, 0.0042, 65610.0, 325.0, 14509.0),
 (130, 'Myanmar', 4.36, 54409800.0, 0.0067, 676578.0, 80.0, 7220.0),
 (131, 'Chad', 4.35, 16425864.0, 0.03, 1284000.0, 12.0, 2603.0),
 (132, 'Ukraine', 4.332, 43733762.0, -0.0059, 603500.0, 73.0, 10130.0),
 (133, 'Ethiopia', 4.2860000000000005, 114963588.0, 0.025699999999999997, 1104300.0, 101.0, 2702.0),
 (135, 'Uganda', 4.189, 45741007.0, 0.0332, 241550.0, 183.0, 2753.0),
 (136, 'Egypt', 4.166, 102334404.0, 0.0194, 1002450.0, 100.0, 14800.0),
 (137, 'Zambia', 4.107, 18383955.0, 0.029300000000000003, 752612.0, 24.0, 4174.0),
 (138, 'Togo', 4.085, 8278724.0, 0.024300000000000002, 56785.0, 142.0, 1913.0),
 (139, 'India', 4.015, 1380004385.0, 0.009899999999999999, 3287590.0, 416.0, 9027.0),
 (140, 'Liberia', 3.975, 5057681.0, 0.024399999999999998, 111369.0, 44.0, 1428.0),
 (141, 'Comoros', 3.9730000000000003, 869601.0, 0.022000000000000002, 1862.0, 457.0, 2898.0),
 (142, 'Madagascar', 3.9330000000000003, 27691018.0, 0.0268, 587041.0, 46.0, 1776.0),
 (143, 'Lesotho', 3.802, 2142249.0, 0.008, 30355.0, 70.0, 3655.0),
 (144, 'Burundi', 3.775, 11890784.0, 0.031200000000000002, 27834.0, 414.0, 724.0),
 (145, 'Zimbabwe', 3.6630000000000003, 14862924.0, 0.0148, 390757.0, 37.0, 2778.0),
 (146, 'Haiti', 3.597, 11402528.0, 0.0124, 27750.0, 406.0, 1916.0),
 (147, 'Botswana', 3.488, 2351627.0, 0.0208, 582000.0, 4.0, 19388.0),
 (149, 'Malawi', 3.41, 19129952.0, 0.0269, 118484.0, 157.0, 1292.0),
 (150, 'Yemen', 3.38, 29825964.0, 0.022799999999999997, 527968.0, 55.0, 2312.0),
 (151, 'Rwanda', 3.3339999999999996, 12952218.0, 0.0258, 26338.0, 479.0, 2642.0),
 (152, 'Tanzania', 3.2310000000000003, 59734218.0, 0.0298, 945087.0, 61.0, 3652.0),
 (153, 'Afghanistan', 3.2030000000000003, 38928346.0, 0.0233, 652230.0, 58.0, 2182.0),
 (154, 'Central African Republic', 3.083, 4829767.0, 0.0178, 622984.0, 8.0, 864.0),
 (155, 'South Sudan', 2.853, 11193725.0, 0.011899999999999999, 619745.0, 18.0, 1715.0)]

In [110]:
# con = sqlite3.connect("../db/marriage_and_divorce_rates.sqlite")
con = sqlite3.connect("db/worldinfo.sqlite")

In [112]:
add_pk_to_sqlite_table('worldinfo', 'index', con)

In [131]:
# SQLAlchemy
from sqlalchemy import create_engine
engine = create_engine("sqlite:///db/worldinfo.sqlite")

conn = engine.connect()

worldinfoDF = pd.read_sql("SELECT * FROM worldinfo", conn)

worldinfoDF

,index,country,happiestScore,population,growthrate,countrysize,pop_den,gdp_per_capita
0,0,Finland,7.769,5540720.0,0.0015,338424.0,16.0,49548.0
1,1,Denmark,7.600,5792202.0,0.0035,43094.0,134.0,55675.0
2,2,Norway,7.554,5421241.0,0.0079,323802.0,17.0,79638.0
3,3,Iceland,7.494,341243.0,0.0065,103000.0,3.0,56974.0
4,4,Netherlands,7.488,17134872.0,0.0022,41850.0,409.0,60299.0
...,...,...,...,...,...,...,...,...
135,151,Rwanda,3.334,12952218.0,0.0258,26338.0,479.0,2642.0
136,152,Tanzania,3.231,59734218.0,0.0298,945087.0,61.0,3652.0
137,153,Afghanistan,3.203,38928346.0,0.0233,652230.0,58.0,2182.0
138,154,Central African Republic,3.083,4829767.0,0.0178,622984.0,8.0,864.0
139,155,South Sudan,2.853,11193725.0,0.0119,619745.0,18.0,1715.0

In [128]:
from sqlalchemy import create_engine, inspect
engine = create_engine("sqlite:///db/worldinfo.sqlite", echo=False)

In [129]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['worldinfo']

In [130]:
Emoji = Base.classes.worldinfo
session.query(Emoji).limit(100).all()

[<sqlalchemy.ext.automap.worldinfo at 0x1bcdecf6f48>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdecf6188>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdecf6088>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4cc48>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4c288>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4cd88>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4c108>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4c248>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4ce48>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4cfc8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4c5c8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4c8c8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4c308>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4c508>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4c848>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4c648>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4c7c8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc4c708>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4b848>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4b308>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4b448>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4b748>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4b908>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4b548>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdecfffc8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4c488>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4cf08>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4cec8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4c348>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4cdc8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4df48>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4d208>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4d988>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4dd48>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4dc88>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb51a88>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb51408>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb518c8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb51248>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb50808>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb50608>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb509c8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb50e88>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb50548>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4e348>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc54bc8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc54e48>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc00688>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc00348>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc00a88>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc00c08>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc00dc8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb4fc88>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb6b5c8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddc32a88>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddc42488>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddc5fdc8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddc5f048>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddc5f888>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc5c608>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb79748>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb79588>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb3ee48>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc5d8c8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc51b88>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc51108>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcc51c48>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb68148>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcded45908>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcded70988>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb8c6c8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb93508>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb93a48>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddd25148>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddd255c8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddd25088>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb64d48>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb646c8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb64ac8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddc43908>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb94588>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddc38648>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddc3f408>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdecd42c8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb5ff88>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcded14148>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb408c8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddc4a648>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddc474c8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcb85a08>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddc59188>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcbf29c8>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdcbf2648>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcd60cb708>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcd60cb808>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddc58408>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcddc58548>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdec61408>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdec61548>,
 <sqlalchemy.ext.automap.worldinfo at 0x1bcdecb1908>]